<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
  <!-- bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  
  <!-- React & Babel -->
  <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
  <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>

  <!-- axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>

<body>
  <div id="app">

  </div>

  <script type="text/babel">

    const origin = location.origin;
    console.log("origin:", origin)

    class Layout extends React.Component {

      constructor() {
        super()
        this.state = {
          threads: [],
          comments: [],
          new_thread_name: "",
          selectedThread: undefined,
          new_comment: undefined
        }

        axios.get(origin + "/thread")
          .then((res) => {
            this.setState({threads: res.data.threads})
          })
      }

      loadComment() {
        axios.get(origin + "/comment/thread/" + this.state.selectedThread)
          .then((res) => {
            this.setState({comments: res.data.comments})
          })
      }

      loadThread() {
        axios.get(origin + "/thread")
          .then((res) => {
            this.setState({threads: res.data.threads})
          })
      }

      changeThread(id) {
        this.setState({selectedThread: id})
        axios.get(origin + "/comment/thread/" + id)
          .then((res) => {
            this.setState({comments: res.data.comments})
          })
      }

      postThread(name) {
        axios.post(origin + "/thread", {name: name})
          .then(() => {this.loadThread()})
      }

      deleteThread() {
        this.setState({comments: []})
        axios.delete(origin + "/thread", {data: {id: this.state.selectedThread}})
        .then(() => {this.loadThread()})
      }

      postComment() {
        axios.post(origin + "/comment", {
          thread_id: this.state.selectedThread,
          content: this.state.new_comment
        })
        .then(() => {
          this.loadThread()
          this.loadComment()
        })
      }
      
      render() {
        console.log("DEBUG: ")
        console.log(this.state)
        return (
          <div className="container m-3">
            <div className="row border border-3 rounded">
              <div id="thread-area"className="col-3">
                <div id="thread-area-ui">
                  <div id="thread-select" className="mt-3">
                  {this.state.threads.map((e) => (
                    <button type="button" key={e.id} className={"btn container-fluid mb-1 " + ((this.state.selectedThread == e.id) ? 'btn-secondary' : 'btn-outline-secondary')}
                      onClick={() => {this.changeThread(e.id)}}>
                      {e.name} (id:{e.id})
                    </button>
                    )
                  )}
                  </div>
                  <div id="thread-form" className="mt-5">
                    <div className="mb-3">
                      <label htmlFor="threadNameInput" className="form-label">Thread Title</label>
                      <input type="text" className="form-control" id="threadNameInput" name="name" onChange={(e) => {this.setState({"new_thread_name": e.target.value});}} />
                    </div>
                    <div>
                      <button type="submit" className="btn btn-primary mb-3" onClick={() => {this.postThread(this.state.new_thread_name)}}>Submit Thread</button>
                    </div>
                  </div>
                </div>
              </div>

              <div id="comment-area" className="col-9">
                <div id="comment-area-ui" className="mx-4">
                  <div id="comment-list" className="mt-3">
                  {(this.state.comments.length == 0) ? <p>no comments found</p> : ""}
                  {this.state.comments.map((e, i) => (
                    <div key={e.id} className="border-bottom mt-2">
                      <div className="mx-3">
                        <p className="">{i+1}: 名無し</p>
                        <p>{e.comment}</p>
                    </div>
                    </div>
                  ))}
                  </div>

                  <div id="comment-form" className="my-3">
                    <div>
                      <label htmlFor="commentInput" className="form-label">Comment</label>
                      <textarea type="text" className="form-control" id="commentInput" name="name"
                        onChange={(e) => {this.setState({"new_comment": e.target.value});}} />
                    </div>
                    
                    <div className="btn-toolbar justify-content-between mt-3">
                      <div className="btn-group">
                        <button className="btn btn-primary" 
                        onClick={() => {this.postComment()}}
                        disabled={(this.state.selectedThread == undefined)}>Submit Comment</button>
                      </div>
                      <div className="btn-group ml-auto">
                        <button className="btn btn-danger"
                        onClick={() => {this.deleteThread()}}
                        disabled={(this.state.selectedThread == undefined)}>Delete Thread</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        )
      }
    }
    

    const root = ReactDOM.createRoot(document.getElementById("app"))
    root.render(<Layout />)
    
  </script>

  <style>
    #thread-area {
      background-color: #f2f3f5;
    }
  </style>
</body>
</html>